<div class="navbar navbar-default">
  <div class="container">

    <ul class="nav navbar-nav">

      <li class='<%= "active" if params[:action] == "home" %>'><%= link_to(raw('<span class="glyphicon glyphicon-home"></span> Домашняя страница'), root_path) %></li>
      <li class='<%= "active" if params[:action] == "about" %>'><%= link_to(raw('<span class="glyphicon glyphicon-info-sign"></span> О проекте'), about_path) %></li>

      <% if signed_in? %>
          <li><%= link_to(raw('<span class="glyphicon glyphicon-user"></span> Профиль'), current_user) %></li>
          
          <% if is_admin?(current_user) %>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-cog"></span> Управление <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to(raw('<span class="glyphicon glyphicon-list-alt"></span> Все ученики'), users_path) %></li>
                  <li><%= link_to(raw('<span class="glyphicon glyphicon-file"></span> Добавить ученика'), new_user_path) %></li>
                </ul>
              </li>
          <% end %>
          
          <li><%= link_to(raw('<span class="glyphicon glyphicon-log-out"></span> Выйти'), signout_path, method: "delete") %></li>
      <% else %>
          <li><%= link_to(raw('<span class="glyphicon glyphicon-log-in"></span> Войти'), signin_path) %></li>
      <% end %>

    </ul>

  </div>
</div>